<h3>Ember Testing Demo app</h3>

<p>This sample app contains some test cases written using Jasmine and Ember-Jasmine. You can view the test cases in the <code>tests/specs</code> folder.</p>

<p>You can run the tests using Karma with the command <code>grunt dist</code>.</p>

<hr/>

The test cases in this demo app test the following Todo List app:
<h3>{{#link-to 'todo' id="todo-link"}}Go to Todo list app{{/link-to}}</h3>

<hr/>

Here are some additional components that are also tested: 

<p>
    {{my-button buttonText="Before" afterValue="After"}}
</p>
<p>
    {{my-button buttonText="A" afterValue="B"}}
</p>

<ul>
	<li>{{#link-to 'page2' id="page2-link"}}Go to page 2{{/link-to}}</li>
</ul>